@{
    ViewBag.Title = "Import Territories";
}

<div class="row">
    <div class="col-9">
        <div class="card card-body mt-2">

            <form id="importFrom" asp-action="ImportTerr" asp-controller="Territory">

                <input name="fileExcel" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required id="importTerr" type="file" />
                <button type="submit" class="btn btn-primary">Import</button>

            </form>
        </div>

    </div>


    <div class="col-3">
        <div class="card card-body mt-2">
            <a class="btn btn-primary"  href="~/Uploads/Templete/Excel/Territories.xlsx" download>
                [Download Template file]
            </a>
            @*<button href="~/Uploads/Templete/Excel/Territories.xlsx" download="Territories.xlsx" id="TerritoriesExcel" class="btn btn-primary" title="Download file">[Download Template file]  </button>*@
        </div>
    </div>

</div>
<script>
    $('#importFrom').ajaxForm(response => {

        if (response) {
            if (response.success) {
                Swal.fire({
                    icon: 'success',
                    text: response.message,
                }).then(function () {

                    window.location.href = "/territory/index";
                });
            }
            else {
                Swal.fire({
                    icon: 'error',
                    text: response.message,
                });
            }
        }
    });

    //function importTerr() {
    //    var file = $('#importTerr').val();
    //    $.ajax({
    //        url: "Territory/ImportDTE",
    //        type: "post",
    //        data: { file },
    //        success: response => {
    //            console.log("uploaded");
    //        }
    //    });

    //}

</script>
