@model AGMPOP.Web.Models.ProductVM
@{
    Layout = "_PartialLayout";
}


@*form*@
<form id="formEditProduct" autocomplete="off" asp-action="Edit" asp-controller="Product">
    <div class="modal-body">
        <div class="row">
            <div class="col-12 ">
                <input asp-for="ProductId" hidden class="form-control" />
                <input asp-for="DepartmentID" hidden class="form-control" />

                <label class=" control-label">
                    <b>  Item Name </b>
                </label>
                <div class="form-group">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>



            <div class="col-12 ">
                <div class="form-group">
                    <label class=" control-label">
                        <b>  Code </b>
                    </label>
                    <div class="form-group">
                        <input asp-for="Code"   class="form-control" />
                        <span asp-validation-for="Code" class="text-danger"></span>
                    </div>
                    @*@Html.TextBoxFor(model => model.Code, new { @class = "form-control", required = "true", autocomplete = "off" })
                        <span>@Html.ValidationMessageFor(d => d.Code)</span>*@
                </div>

            </div>

            <div class="col-12">
                <label class="control-label">
                    <b> Inventory Quantity</b>
                </label>

                <input asp-for="InventoryQnty" name="InventoryQnty" min="0" readonly class="form-control" />
                <span asp-validation-for="InventoryQnty" class="text-danger"></span>
            </div>

            <style>
                .select-wrapper input.select-dropdown {
                    padding: 0px !important;
                }
            </style>

            <div id="department-container" class="col-12 mt-2">
                <label class="control-label">
                    <b> Department </b>
                </label>
                <input asp-for="DepartmentName"  readonly class="form-control" />

                @*<select class="md-form mdb-select mt-0" asp-for="DepartmentID" Searchable="Search here...">
                    <option value="" disabled>Select Department</option>
                </select>*@
            </div>

 
            <div class="col-12 ">
                <label class="pt-n mt-n"><b>Product Photo </b></label>
             </div>
            <div class="col-12  ">
                <input type="file" asp-for="Image" accept="image/png, image/jpeg" name="file" onchange="readfile(this);" id="CreateFileUploader">
                <img id="image_preview"  src="@Model.Image" alt="" style="max-height:50px;min-width:50px; width:50px;" />
            </div>
        </div>
    </div>
    <div class="modal-footer  pb-0">
        @*    <button class="btn btn-primary" type="submit" id="savedbtn">Save</button>*@
        <button type="submit" class="btn btn-primary btn-md">Save</button>
        <button type="button" class="btn btn-grey btn-md" data-dismiss="modal">Cancel</button>

    </div>


</form>


<script>
    // Material Select Initialization
    $(document).ready(function () {
     //   getAllDept();
    //    getAllType();
     //   $('#DepartmentID').materialSelect();
        @*$('#TypeId').materialSelect();

        var departmentReadOnly = @Html.Raw(Json.Serialize(ViewBag.DepartmentReadOnly));
        if (departmentReadOnly) {
            $('#department-container').css('pointer-events', 'none');
        }*@
    });
</script>
<!--preview pic-->
<script>

    function readfile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#image_preview').attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

</script>



<script>
    $('#formEditProduct').ajaxForm(response => {
        if (response) {
            if (response.success) {
                $('#editProductModal').modal('hide');
                Swal.fire({
                    icon: 'success',
                    text: response.message,
                }).then(_ => {
                    loadProduct();
 


                });
            }
            else {
                Swal.fire({
                    icon: 'error',
                    text: response.message,
                });
            }
        }
    });


 

    @*function getAllDept() {
        return new Promise((resolve, reject) => {

            $('#DepartmentID').empty();
            $('#DepartmentID').append('<option value="" disabled>Select Department</option>');

            $.ajax({
                url: '@Url.Action("GetAllDepartments", "common")',
                method: 'GET',
                async: false,

                success: response => {
                    console.log(response);
                    if (response) {
                        response.forEach(d => {
                            $('#DepartmentID').append(`<option value="${d.id}">${d.name}</option>`);
                        });
                    }
                    resolve();
                }
            });
        });
    }*@

</script>
