
@{
    ViewData["Title"] = "Import Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-8">
        <form id="importProductsForm" asp-action="UploadFiles" asp-controller="product" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-body">
                        <div class="card-content">
                            <h3 class="mt-n">1- Upload Products Images</h3>
                            <hr />
                            <div class="p-lg">
                                <div class="alert alert-info alert-dismissible has-error" role="alert">
                                    - Image name has not to contain characters(<b>!@@#$%^*/~\</b>) <br />
                                    - Collect all the image in a <b>Zip file</b><br />
                                    - Max size is <b>1MB</b> per image
                                </div>
                                <input type="file" accept="application/zip" required name="Zip" />
                                <br />

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-lg">
                <div class="col-md-12">
                    <div class="card card-body">
                        <div class="card-content pt-lg">
                            <h4 class="mt-n">
                                2- Upload Products Details

                            </h4>
                            <h6>
                                 <a class="btn btn-primary" href="~/Uploads/Templete/Excel/Product.xlsx" id="ProductExcel" class="btn btn-primary" title="Download file" download>
                                    [Download Template file]
                                </a>
                            </h6>

                            <hr />
                            <div class="p-lg">

                                <div class="ert alert-info alert-dismissible has-error" role="alert">
                                    Number of rows must be less than 10000
                                </div>
                                <input type="file" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" required id="ProductsExcelFile" name="ProductsExcelFile" />
                                <br />
                                <button type="submit" class="btn btn-primary float-right">Add</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </form>
    </div>
    <div class="col-md-4">
        <div class="card card-body">
            <div class="card-content pt-lg">
                <table>

                    <tr>
                        <td class=""><i class="fa fa-arrow-left"></i></td>
                        <td class="pb-md">

                            [ @Html.ActionLink("Back To Products", "Index") ]
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="FalidProduct" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Data Audit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="old-data" class="table table-bordered">
                    <thead><tr><th>Name</th><th>Reason</th></tr></thead>

                    <tbody></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<script>
    var errorList;
    $('#importProductsForm').ajaxForm(response => {
        $('#old-data tbody').empty();

        if (response) {
            if (response.ok == true) {
                errorList = response.err;
                if (errorList) {
                    for (var i = 0; i < errorList.length; i++) {
                        $('#old-data tbody').append('<tr><td>' + errorList[i].name + '</td><td>' + errorList[i].reason + '</td></tr>');

                    }
                }

                Swal.fire({
                    icon: 'success',
                    text: response.message,
                }).then(_ => {
                    if (errorList && errorList.length) {
                        $("#FalidProduct").modal("show");
                    }
                    else {
                      window.location.href = "/product/index";

                    }
                });
            }
            else {
                errorList = response.err;
                if (errorList) {
                    for (var i = 0; i < errorList.length; i++) {
                        $('#old-data tbody').append('<tr><td>' + errorList[i].name + '</td><td>' + errorList[i].reason + '</td></tr>');
                    }
                }
                Swal.fire({
                    icon: 'error',
                    text: response.message,
                }).then(_ => {
                    if (errorList && errorList.length) {
                        $("#FalidProduct").modal("show");
                    }
                });
            }
        }
    });
</script>

