
@{
    ViewData["Title"] = "My Requests";
}



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<div class="row">
    <div class="col-12 text-right">
        <button type="button" class="btn btn-primary btn-md" onclick="location.href='@Url.Action("NewRequest", "Requests" )'">
            Add Request&nbsp; <i class="fas fa-plus"></i>
        </button>


    </div>
</div>
<div class="card card-body mt-2 pb-1">

    <form data-ajax="true" data-ajax-mode="Replace" data-ajax-update="#PartialRequests" asp-action="RequestSearch" asp-controller="Requests" method="post" enctype="multipart/form-data">

        <div class="row">

            <div class="col-md-2">
                <input placeholder="From Date" name="fromDate" class="datepicker form-control mt-2" id="from_Date" />

            </div>
            <div class="col-md-2">
                <input placeholder="To Date" class="datepicker form-control mt-2" name="toDate" id="to_Date" />
            </div>
            <div class="col-md-2">
                <select class="mdb-select mt-2" title="Req Status" name="status" id="Req_status">
                    <option value="" selected disabled>Select Status</option>
                    <option value="false">Pending</option>
                    <option value="true">Received</option>
                </select>
            </div>
            <div class="col-md-4">
                <button type="submit" class="btn btn-primary btn-md">
                    Search&nbsp;&nbsp;<i class="fa fa-search"></i>
                </button>
                <button type="button" class="btn btn-secondary btn-md" onclick="location.href='@Url.Action("Index", "Requests")'">
                    Clear&nbsp;&nbsp;<i class="fa fa-times"></i>
                </button>
            </div>
            
        </div>
    </form>
</div>

<div id="PartialRequests" class="mt-3">

</div>
 

<script>

    $(document).ready(function () {
        // Material Select Initialization
          loadPatialData();
       
    });
</script>

@*loadPatialData*@
<script>
    function loadPatialData() {
        $('#PartialRequests').html('');
         $.ajax({
            url: '@Url.Action("PartialRequests", "Requests")',
             type: "Get",
             async: false,
            contentType: "application/json; charset=utf-8",
             success: function (data) {
                 debugger;
                 $('#PartialRequests').html(data);
                $('#dt_RequestInboxPartial').DataTable();
            },
            error: function (x) {
                alert("error" + x);
            },
        });
     }

</script>

<script>

    function GetDetails(id) {
         $('#stock-table tbody').html('');
         $.ajax({
             url: '@Url.Action("GetRequestDetails")' +  '?RequestId=' + id,
             type: "GET",
             success: function (response) {
                 var data = response.productModel;
                 $('#CycleName').text(data[0].cycleName)

                if (data) {

                    if (data.length > 0) {
                        $('#CycleName').text(data[0].cycleName)
                        for (var i = 0; i < data.length; i++) {
                            $('#stock-table tbody').append('<tr><td class="text-center">' + data[i].productName + '</td><td class="text-center">' + data[i].requestAmount + '</td></tr>');
                        }
                    }
                    else {

                        $('#stock-table tbody').append('<tr><td colspan="2">No data found</td></tr>');
                    }
                }
                else {
                    $('#stock-table tbody').append('<tr><td colspan="2">No data found</td></tr>');
                }
            }
        });
    }
</script>
