@{
    Layout = null;
}

<div>
    <fieldset>
        <div class="col-12">
            <div id="geo-tree"></div>
            <input type="hidden" name="jsfields" id="jsfields" value="" />
        </div>
    </fieldset>
</div>
<script>
    var CycleId = @ViewBag.CycleId;

    $(function () {

        var url = '@Url.Action("TerritoiesDataDetails", "Cycles")';
        if (CycleId) {
            url += `?cycleId=${CycleId}`;
        }
        $.ajax({
            url,
            method: "Get",
            success: (data) => {
                LoadExtOrgTree(data.data);
            },
            error: (e) => { console.log(e); }
        });
    });
    //load Territories
    function LoadExtOrgTree(data) {

        $("#geo-tree").jstree("open_all");

        $('#geo-tree').jstree({
            "core": {
                "animation": 0,
                "check_callback": true,
                'force_text': true,
                "themes": { "": true },
                'data': JSON.parse(data)
            },
            "types": {
                "#": { "max_children": 1, "max_depth": 4, "valid_children": ["root"] },
                "root": { "icon": "", "valid_children": ["default"] },
                "default": { "icon": "fas fa-file text-primary", "valid_children": ["default", "file"] },
                "file": { "icon": "", "valid_children": [] }
            },
            "plugins": ["types", "wholerow"]
        });

    
    };



</script>


