@{
    ViewData["Title"] = "Change Password";
}
<!--TOP BAR-->

<link href="~/mobile/assets/css/site.css" rel="stylesheet" />
<div class="TopBar0" style="padding:10px;">
    <div class="row justify-content-center p-3">

        <div class="col-lg-4 d-flex flex-column justify-items-center align-self-center text-center ">
            <div><input id="password-field1" type="password" placeholder="Old Password" class="OldPassword form-control form-control-lg" name="password" value=""><span toggle="#password-field1" class="fa fa-fw fa-eye field-icon toggle-password"></span></div>
            <div class="mt-3 mb-3"><input id="password-field2" type="password" placeholder="New Password" class="NewPassword form-control form-control-lg" name="password" value=""><span toggle="#password-field2" class="fa fa-fw fa-eye field-icon toggle-password"></span></div>
            <div><input id="password-field3" type="password" placeholder="Confirm New Password" class="form-control form-control-lg" name="password" value=""><span toggle="#password-field3" class="fa fa-fw fa-eye field-icon toggle-password"></span></div>
            <button class="mt-4 btn-primary" style="height:55px; border:none; color:white; border-radius:5px; font-size:20px" onclick="ChangePassword()">Change password</button>
        </div>

    </div>
</div>
<style>
    .field-icon {
        float: right;
        margin-right: 10px;
        margin-top: -31px;
        position: relative;
        z-index: 2;
    }
</style>
<script>
    // ====================== JQUERY ==========================//
    $(document).ready(function () {
        $('.dataTables_length').addClass('bs-select');
        $("select").removeClass("custom-select");
        $("#AvailableActions").hide();
        $(".loader").fadeOut();
    });

    $(".toggle-password").click(function () {
        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
    // ====================== CHANGE PASSWORD FUNCTION ==========================//
    async function ChangePassword() {

        var currLocation = await getCurrentLocation();
        var userlat = currLocation.latitude;
        var userlng = currLocation.longitude;
        const APIurl = BaseAPIurl + userlat + "/" + userlng + "/" + DeviceId + "/users/password/change"; // site that doesn’t send Access-Control-*
        var passwordData = {
            "user_id": userID,
            "new_password": $(".NewPassword").val(),
            "old_password": $(".OldPassword").val()
        };

        let apiResponse = await fetch(proxyurl + APIurl, {
            method: 'POST',
            headers: {
                'Authorization': 'Bearer ' + AccessToken,
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
            },
            body: JSON.stringify(passwordData)
        });

        var res;
        if (apiResponse.ok) {
            res = await apiResponse.json();
            if (res["data"] != null) {
                location.href = '/home/loginpage';
            } else {
                alert("failed")
            }
        }
    }

</script>
